@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Edu+VIC+WA+NT+Hand+Pre:wght@400..700&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

.active hr{
    @apply block;
}

*{
  font-family:Outfit;
}


::-webkit-scrollbar{
  @apply hidden;
}

:root {
  --color-primary: #2563EB;
  --color-secondary: #9333EA;
}